<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toughts</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <nav id="navbar">
        <a href="/">
           <img src="/img/toughts_logo.png" alt="Toughts">
        </a>
        <ul>
            <li><a href="/">Pensamentos</li>
            <li><a href="/login">Entrar</li>
            <li><a href="/register">Registrar</li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <div class="footer">
        <p><span>Toughts</span> &copy; 2024</p>
    </div>
</body>
</html>