/* Geral */
* {
  font-family: "Verdana";
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1.6rem;
  text-align: center;
  color: #333;
}

#box-shadow-generator {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#controls-container,
#preview {
  flex: 1;
  padding: 2rem;
}
