/* Configuração geral do site */
html{
    font-family: Helvetica;
    background-color: #ddd;
}
.container{
    max-width: 1100px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}
.bold{
    font-weight: bold;
}
/* Header */
.header{
    text-align: center;
}
