/* Configuração geral do site */
html{
    font-family: Helvetica;
    background-color: #ddd;
}
.container{
    max-width: 1100px;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: #fff;
}
.bold{
    font-weight: bold;
}
/* Header */
.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
    font-style: italic;
}
/* Imagem de destaque */
.featured-image{
    text-align: center;
    margin-top: 30px;
}
/* Biografia */
.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}
/* Quotes */
.quotes-container{
    background-color: #DDD;
    padding: 30px;
}
.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}
.quotes-container p{
    font-style: italic;
}
/* Curiosidades */
.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}
.curiosities-container li{
    height: 30px;
}