<fieldset>
    <legend>Atualizando</legend>
    <form action="/usuario/atualizar" method="POST">
        <input type="text" name="name" placeholder="Digite seu nome antigo"><br><br>
        <input type="text" name="novonome" placeholder="Novo nome"><br><br>
        <button type="submit">Inserir</button>
    </form>
</fieldset>