<html>
<head>
    <title>Página Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel=''
</head>
<body>

    <style>
        body {
            background-color: blueviolet;
            color:burlywood;
        }
        
    </style>
    <h1>Novo Título</h1>
    <hr/>