/* 4- External CSS */
body{
    padding-bottom: 500px;
}
h3{
    color: aqua;
}
/* <!-- 8- Classes --> */
.paragraph{
    background-color: black;
    padding:5px ;
    color: aqua;
}
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* <!-- 10- Multiplas regras,ordem do css --> */
h2{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 2px solid blue;
}
#algum-titulo{
    border-bottom: 2px solid green;
}
/* <!-- 11- nome de cor --> */
.color-name{
    color: crimson;
}
/* <!-- 12- hexadecimal --> */
.hex{
    color: #00ff00;
}
/* <!-- 13- hexadecimal simplificado --> */
.simple-hex{
    color: #333;
}
.simple-hex-2{
    color: #a5f;
}
/* <!-- 14- RGB --> */
.rgb{
    color: rgb(255, 0, 0);
}
.mixed-rgb{
    color: rgb(255, 0, 47);
}
/* <!-- 15- RGBA --> */
.rgba{
    color: rgba(100,199,45,0.3);
}

/* <!-- 16: HSL --> */
.hsl{
    color: hsl(0, 100%, 50%);
}
.hsl-2{
    color: hsl(0, 100%, 50%);
}
/* <!-- 17: Background-color --> */
.bg{
    background-color: #000;
    color: yellow;
}
/* <!-- 18: opacidade no bg --> */
.bg-opacity{
    background-color: green;
    opacity: 0.2;
}
.bg-opacity-2{
    background-color: #999;
    opacity: 0.8;
}
/* <!-- 19:rgba com opacidade --> */
.rgba-opacity{
    background-color: rgba(90,120,20,0.2);
    color: #000;
}
/* <!-- 20: background image --> */
.bg-image{
    background-image: url(../img/node\ +\ typescript.png);
    padding: 10px;
    color: #fff;
}
/* <!-- 21: centralizar background image --> */
.bg-image-center,
.centerd-bg{
    height: 400px;
    width: 400px;
    background-image: url(../img/node\ +\ typescript.png);

}
.centerd-bg{
    background-position: center;
    background-size: cover;
}

/* <!-- 22: largura e altura --> */
.height-width{
    width: 100px;
    height: 200px;
    background-color: red;
}
.height-width-2{
    height: 300px;
    background-color: blue;
}
/* <!-- 23: padding --> */
.without-padding,
.padding{
    background-color: #111;
    color: #fff;
}
.padding{
    background-color: #333;
    padding: 20px;
}
