/* 4- External CSS */
body{
    padding-bottom: 500px;
}
h3{
    color: aqua;
}
/* <!-- 8- Classes --> */
.paragraph{
    background-color: black;
    padding:5px ;
    color: aqua;
}
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* <!-- 10- Multiplas regras,ordem do css --> */
h2{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 2px solid blue;
}
#algum-titulo{
    border-bottom: 2px solid green;
}